$white: #fffffa;
$white-opacity: #FAFEFF55;

$black: #00000B;
$black-opacity: #00000B55;

:export {
  white: $white;
  white-opacity: $white-opacity;

  black: $black;
  black-opacity: $black-opacity;
}