/* variables */
$white: #fffffa;
$white-opacity: #FAFEFF99;

$black: #00000B;
$black-opacity: #00000B99;
$black-opacity-2: #00000B99;

$background: $white;
$color: $black-opacity;

:export {
  white: $white;
  white-opacity: $white-opacity;

  black: $black;
  black-opacity: $black-opacity;

  background: $background;
  color: $color;
}