@import './scss//variables.module';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;

  background-color: $background;

}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: $black-opacity-3;
}

::-webkit-scrollbar-thumb {
  background-color: $black-opacity-2;
  border-radius: 4px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* global setting */

h1 {
  font-size: 48px;
  line-height: 48px;

  margin: 0px;
  font-weight: 500;
}

h2 {
  font-size: 32px;
  line-height: 32px;

  margin: 0px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  line-height: 24px;

  margin: 0px;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  line-height: 20px;

  margin: 0px;
  font-weight: 300;
}

p {
  font-size: 20px;

  margin: 0px;
}

.sub-text {
  height: fit-content;

  margin: 0px;

  font-size: 20px;
  font-weight: 100;
}